ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: gray;
  margin: 0;
}
body .epi_content {
  max-width: 420px;
  height: 300px;
  margin: auto;
  background-color: gray;
  padding-top: 50px;
}
body .epi_content .epi_cards {
  width: 100%;
  background-color: white;
  -webkit-border-top-left-radius: 15px;
     -moz-border-radius-topleft: 15px;
          border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
     -moz-border-radius-topright: 15px;
          border-top-right-radius: 15px;
  overflow: hidden;
  padding-bottom: 20px;
}
body .epi_content .epi_cards .epi_selet {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
body .epi_content .epi_cards .epi_selet li {
  background-color: #f9f4f0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
  cursor: pointer;
}
body .epi_content .epi_cards .epi_selet li.active {
  font-weight: bold;
  background-color: white;
}
body .epi_content .epi_cards .time_info {
  margin: 20px;
  font-size: 12px;
  color: #c2c2c2;
}
body .epi_content .epi_cards .epi_in .epi_data,
body .epi_content .epi_cards .epi_out .epi_data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}
body .epi_content .epi_cards .epi_in .epi_data li,
body .epi_content .epi_cards .epi_out .epi_data li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
body .epi_content .epi_cards .epi_in .epi_data li p,
body .epi_content .epi_cards .epi_out .epi_data li p {
  margin: 0;
  font-size: 14px;
}
body .epi_content .epi_cards .epi_in .epi_data li p:nth-of-type(1),
body .epi_content .epi_cards .epi_out .epi_data li p:nth-of-type(1) {
  font-weight: bolder;
  color: #696969;
}
body .epi_content .epi_cards .epi_in .epi_data li p:nth-of-type(2),
body .epi_content .epi_cards .epi_out .epi_data li p:nth-of-type(2) {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 5px;
}
body .epi_content .epi_cards .epi_in .epi_data li p:nth-of-type(3),
body .epi_content .epi_cards .epi_out .epi_data li p:nth-of-type(3) {
  font-size: 10px;
  color: #c2c2c2;
}
body .epi_content .epi_cards .epi_in .epi_data li:nth-of-type(2) p:nth-of-type(2),
body .epi_content .epi_cards .epi_out .epi_data li:nth-of-type(2) p:nth-of-type(2) {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
body .epi_content .epi_cards .epi_in .epi_data.epi_data_top li:nth-of-type(1) span,
body .epi_content .epi_cards .epi_out .epi_data.epi_data_top li:nth-of-type(1) span {
  color: #c6460a;
}
body .epi_content .epi_cards .epi_in .epi_data.epi_data_top li:nth-of-type(2) span,
body .epi_content .epi_cards .epi_out .epi_data.epi_data_top li:nth-of-type(2) span {
  color: #088d60;
}
body .epi_content .epi_cards .epi_in .epi_data.epi_data_top li:nth-of-type(3) span,
body .epi_content .epi_cards .epi_out .epi_data.epi_data_top li:nth-of-type(3) span {
  color: #676767;
}
body .epi_content .epi_cards .epi_in .epi_data.epi_data_bottom,
body .epi_content .epi_cards .epi_out .epi_data.epi_data_bottom {
  -webkit-box-shadow: 0 3px 5px 1px #eeeeee;
     -moz-box-shadow: 0 3px 5px 1px #eeeeee;
          box-shadow: 0 3px 5px 1px #eeeeee;
}
body .epi_content .epi_cards .epi_in .epi_data.epi_data_bottom li:nth-of-type(1) span,
body .epi_content .epi_cards .epi_out .epi_data.epi_data_bottom li:nth-of-type(1) span {
  color: #fc5507;
}
body .epi_content .epi_cards .epi_in .epi_data.epi_data_bottom li:nth-of-type(2) span,
body .epi_content .epi_cards .epi_out .epi_data.epi_data_bottom li:nth-of-type(2) span {
  color: #678aa4;
}
body .epi_content .epi_cards .epi_in .epi_data.epi_data_bottom li:nth-of-type(3) span,
body .epi_content .epi_cards .epi_out .epi_data.epi_data_bottom li:nth-of-type(3) span {
  color: #e08410;
}
body .epi_content .epi_cards .epi_in {
  display: block;
}
body .epi_content .epi_cards .epi_out {
  display: none;
}
body .epi_content .epi_cards .epi_out .epi_data li p:nth-of-type(2) {
  font-size: 18px;
  letter-spacing: -2px;
}
body .epi_content .epi_cards .epi_out .epi_data li:nth-of-type(3) p:nth-of-type(2) {
  border-right: 1px solid #eeeeee;
}
body .epi_content .epi_cards .epi_out .epi_data.epi_data_top li:nth-of-type(1) span {
  color: #cf3e13;
}
body .epi_content .epi_cards .epi_out .epi_data.epi_data_top li:nth-of-type(2) span {
  color: #f65b0e;
}
body .epi_content .epi_cards .epi_out .epi_data.epi_data_top li:nth-of-type(3) span {
  color: #10895f;
}
body .epi_content .epi_cards .epi_out .epi_data.epi_data_top li:nth-of-type(4) span {
  color: #5f5f5f;
}
body .epi_content .epi_cards .epi_out .epi_data.epi_data_bottom li:nth-of-type(n) span {
  color: #bf4313;
}
body .epi_content .epi_etails {
  width: 100%;
  padding: 20px;
  background-color: white;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body .epi_content .epi_etails .list_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 10px;
  white-space: nowrap;
}
body .epi_content .epi_etails .list_title li {
  font-size: 12px;
  font-weight: bolder;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
body .epi_content .epi_etails .list_title li:nth-of-type(1) {
  color: #676767;
}
body .epi_content .epi_etails .list_title li:nth-of-type(2) {
  color: #ed5c0f;
}
body .epi_content .epi_etails .list_title li:nth-of-type(3) {
  color: #c65838;
}
body .epi_content .epi_etails .list_title li:nth-of-type(4) {
  color: #a39b98;
}
body .epi_content .epi_etails .list_title li:nth-of-type(5) {
  color: #1a8964;
}
body .epi_content .epi_etails .epi_list {
  height: 250px;
  overflow: hidden;
  position: relative;
}
body .epi_content .epi_etails .epi_list li {
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body .epi_content .epi_etails .epi_list li .list_head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 40px;
  padding-right: 20px;
  padding-left: 10px;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  background-color: #f5f5f5;
}
body .epi_content .epi_etails .epi_list li .list_head span {
  text-shadow: 0 0 1px #999999;
  color: #666666;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
body .epi_content .epi_etails .epi_list li .list_head span:nth-of-type(1) {
  font-weight: bolder;
  line-height: 20px;
  color: #333333;
}
body .epi_content .epi_etails .epi_list li .list_head::after {
  content: "";
  position: absolute;
  right: 0;
  display: inline-block;
  background-image: url(../img/下拉.png);
  -moz-background-size: 50%;
       background-size: 50%;
  background-repeat: no-repeat;
  background-position-y: 6px;
  width: 19px;
  height: 19px;
}
body .epi_content .epi_etails .epi_list li .list_city,
body .epi_content .epi_etails .epi_list li .list_province {
  display: none;
}
body .epi_content .epi_etails .epi_list li .list_city li,
body .epi_content .epi_etails .epi_list li .list_province li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 40px;
  padding-right: 20px;
  padding-left: 10px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f5f5f5;
}
body .epi_content .epi_etails .epi_list li .list_city li span,
body .epi_content .epi_etails .epi_list li .list_province li span {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: gray;
}
body .epi_content .epi_etails .epi_list li.active .list_head::after {
  background-image: url(../img/上拉.png);
}
body .epi_content .epi_etails .epi_list li.active .list_city,
body .epi_content .epi_etails .epi_list li.active .list_province {
  display: block;
}
body .epi_content .epi_etails.epi_out_etails .epi_list {
  height: 100%;
}
body .epi_content .epi_etails .list_more {
  font-size: 14px;
  color: #999999;
  margin: 0;
  text-align: cenetr;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
body .epi_content .epi_etails .list_more span::after {
  content: "";
  display: inline-block;
  background-image: url(../img/下拉.png);
  -moz-background-size: 70%;
       background-size: 70%;
  background-repeat: no-repeat;
  background-position-y: 10px;
  width: 24px;
  height: 24px;
}
body .epi_content .epi_in_etails {
  display: block;
}
body .epi_content .epi_out_etails {
  display: none;
}
/*# sourceMappingURL=./style.css.map */